a:link {
    color: #FFFFFF;
}

a:visited {
    color: #a8a8a8;
}

a:hover {
    color: #e2e2e2;
}

a:active {
    color: #a8a8a8;
}

h1 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

body {
    background-color: #282828;
    margin: 0;
    padding: 0;
}

.header-text {
    padding-left: 10px;
    padding-right: 10px;


    /* Debug styling */
    /* border-style: solid; */
    /* border-color: #FF0000; */
}

.body-text {
    padding-left: 10px;
    padding-right: 10px;
}

/* Header Bar */

.header-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    box-sizing: border-box;
    min-width: 100%;
}

.header-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    list-style-type: none;
}

.header-bar li a {
    display: block;
    color: #FFFFFF;
    padding: 10px 15px;
    background-color: #000000;
    text-decoration: none;
    font-size: 24px;
}

.header-bar li a:hover {
    background-color: #282828;
}

.header-bar li {
    text-align: center;
    display: inline;
}

/* PDF Viewer */

.resume-image {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.resume-image img {

}